@model IEnumerable<Universe.Models.Video>

@{
    ViewData["Title"] = "ListVideo";
}

<h1>ListVideo</h1>
<ul>
    @foreach (var video in Model)
    {
        <li>@video.Name </li>
        <a href="@Url.Action("DetailsVideo","Video", new { Id = video.Id })">Szczegóły</a>

    }
</ul>
