@model Universe.Models.Login

<h2>Logowanie</h2>

@using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
{
    @Html.ValidationSummary();

    <span>Login: </span> @Html.TextBoxFor(x => x.LoginAccount)
    <span>Password: </span> @Html.PasswordFor(x => x.PasswordAccount)

    <button type="submit">Zaloguj</button>
}